{
	"presets": [
		[
			"@babel/env", {
				"targets": {
					"browsers": [
						"ie >= 11",
						"last 2 iOS major versions",
						"last 2 Firefox major versions",
						"last 2 Safari major versions",
						"last 2 Chrome major versions"
					]
				},
				"useBuiltIns": "entry",
				"corejs": 3
			}
		],
		"@babel/react"
	],
	"plugins": [
		"@babel/proposal-object-rest-spread",
		"@babel/plugin-transform-runtime"
	]
}

